In [2]:
first_name="Rahul"
last_name="Routu"

In [3]:
print("My first name is: {} & my last name is: {}".format(first_name, last_name))

My first name is: Rahul & my last name is: Routu

In [4]:
print("My first name is: {first} & my last name is: {last}".format(first=first_name, last=last_name))

My first name is: Rahul & my last name is: Routu

In [6]:
f'My first name is: {first_name} & my last name is: {last_name}'.format(first_name, last_name)

'My first name is: Rahul & my last name is: Routu'

# LISTS

In [5]:
a='abcde fghij'

In [6]:
a[::-1]

'jihgf edcba'

In [7]:
a[::-1]

'jihgf edcba'

In [8]:
lst=[11,22,33,44,55,66,77,88,99]

In [9]:
lst[::-1]

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [10]:
lst=['rahul',21,'vizag',530048]

In [11]:
lst[1:3]

[21, 'vizag']

In [12]:
m=[1,2,3,4,5]
n=['a','b','c','d','e']
k=[m,n]

In [13]:
m

[1, 2, 3, 4, 5]

In [14]:
n

['a', 'b', 'c', 'd', 'e']

In [15]:
k

[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e']]

In [16]:
k[::-1]

[['a', 'b', 'c', 'd', 'e'], [1, 2, 3, 4, 5]]

In [17]:
q=k.copy()

In [18]:
q.reverse()

In [19]:
q

[['a', 'b', 'c', 'd', 'e'], [1, 2, 3, 4, 5]]

In [20]:
m = [1, 2, 3, 4, 5]
n = ['a', 'b', 'c', 'd', 'e']
k = [m, n]

q = [a_list[::-1] for a_list in k[::-1]]

q

[['e', 'd', 'c', 'b', 'a'], [5, 4, 3, 2, 1]]

In [21]:
m.remove(3)

In [22]:
m

[1, 2, 4, 5]

In [23]:
n.pop(2)

'c'

In [24]:
n

['a', 'b', 'd', 'e']

In [25]:
n.pop()

'e'

In [26]:
n.insert(3,'f')

In [27]:
n

['a', 'b', 'd', 'f']

In [28]:
del n[1:]

In [29]:
n

['a']

In [30]:
n.extend(['w','x','y','z'])

In [31]:
n

['a', 'w', 'x', 'y', 'z']

In [32]:
n=n[::-1]

In [33]:
n

['z', 'y', 'x', 'w', 'a']

In [34]:
n.sort()

In [35]:
n

['a', 'w', 'x', 'y', 'z']

In [36]:
words=['cat','Dog','ant','bat','bbat','Bat']

In [37]:
words.sort()

In [38]:
words

['Bat', 'Dog', 'ant', 'bat', 'bbat', 'cat']

In [39]:
words = ['cat', 'Dog', 'Ant', 'bbat', 'Bat']
words.sort(reverse=True)

In [40]:
words

['cat', 'bbat', 'Dog', 'Bat', 'Ant']

In [41]:
nums=[25,36,95,14,12,26]

In [42]:
#To delete values (95,14,12) we write the code 

del nums[2:5]

In [43]:
nums

[25, 36, 26]

In [44]:
odd=[1,3,5]

In [45]:
odd.append(7)
odd

[1, 3, 5, 7]

In [46]:
odd.extend([9])
odd

[1, 3, 5, 7, 9]

In [47]:
lst1=[1,2,3,4]
lst2=[1,2,3,4]

In [48]:
id(lst1)

2493755467200

In [49]:
id(lst2)

2493755422528

In [50]:
lst1 is lst2

False

In [51]:
l=['Data', 'Science','is','not','about','model','Science','building']

In [52]:
for i in l:
    if i=='Science':
        print(i)

Science
Science

In [53]:
for i in l:
    if i=='Science':
        print(i)
        break;

Science

In [54]:
a1=[i for i in range(1,9)]
a1

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
even_sum=0
odd_sum=0

for i in a1:
    if i%2==0:
        even_sum+=i
    else:
        odd_sum+=i

In [56]:
print(even_sum)
print(odd_sum)

20
16

In [57]:
[num for num in a1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [58]:
even_sum=sum([num for num in a1 if num%2==0])
even_sum

20

In [59]:
odd_sum=sum([num for num in a1 if num%2!=0])
odd_sum

16

In [60]:
nums=[-1,-2,-3,-4,0,4,3,2,1]

In [61]:
[num for num in nums if num>0]

[4, 3, 2, 1]

In [62]:
[num for num in nums if num<0]

[-1, -2, -3, -4]

In [63]:
fruits=['banana','apple','pineapple','papaya','almond']
[i[0] for i in fruits]

['b', 'a', 'p', 'p', 'a']

temperatures: 9/5*temp+32

In [64]:
c=int(input("enter n:"))

f=(9/5*c+32)
print(f)

enter n:45
113.0

In [65]:
c_temp=[0,30,45,35,40,50]

[9/5*temp+32 for temp in c_temp]

[32.0, 86.0, 113.0, 95.0, 104.0, 122.0]

In [66]:
lists=[[1,2,3],[4,5,6],[7,8,9]]

[i for j in lists for i in j]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
def is_prime(n):
    if n <= 1:
        return False  
    if n <= 3:
        return True  

    # Eliminate multiples of 2 and 3
    if n % 2 == 0 or n % 3 == 0:
        return False

    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6

    return True

#  usage
print(is_prime(29)) 
print(is_prime(15))

True
False

In [68]:
from itertools import combinations

lst = [1, 2, 3, 4, 5]

combinations_list = list(combinations(lst, 2))

print(combinations_list)

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]

In [69]:
# Given list
lst = [1, 2, 3, 4, 5]

# Generate all combinations of 2 elements using list comprehensions
combinations_list = [(lst[i], lst[j]) for (i) in range(len(lst)) for j in range(i+1, len(lst))]

# Print the combinations
print(combinations_list)

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]

In [70]:
# Python implicit conversion
num_int = 10
num_float = 5.5
result = num_int + num_float  # Implicit type conversion from int to float
result

15.5

In [71]:
# Comprehensions: [expression for item in iterable if condition]

In [72]:
nums = [25, 36, 95, 14, 12, 26]

delete = [95, 14, 12]
for item in delete:
    while item in nums:
        nums.remove(item)

print(nums)

[25, 36, 26]

In [73]:
# Python implicit conversion
num_int = 10
num_float = 5.5
result = num_int + num_float  # Implicit type conversion from int to float
result

15.5

# Tuples

In [74]:
tup=(11,22,33,44,55)  #tuples are faster than list

In [75]:
tup[0]

11

In [76]:
for i,j in enumerate(tup):
    print(f"{i}:{j}")

0:11
1:22
2:33
3:44
4:55

In [77]:
t=sorted(tup)

In [78]:
t

[11, 22, 33, 44, 55]

In [79]:
type(t)

list

In [80]:
tup = (3, 1, 4, 1, 5, 9, 2, 6, 5)

sorted_tup = tuple(sorted(tup))

print(sorted_tup)

(1, 1, 2, 3, 4, 5, 5, 6, 9)

In [81]:
tup = (3, 1, 4, 1, 5, 9, 2, 6, 5)

sorted_tup = tuple(sorted(tup))

print(sorted_tup)

(1, 1, 2, 3, 4, 5, 5, 6, 9)

In [82]:
ty=[8,5,4,3,8,2,76,8]
ty.sort(reverse=True)

In [83]:
ty

[76, 8, 8, 8, 5, 4, 3, 2]

In [84]:
a=[4,6,3,6,2,8,1,9,6]

b=sorted(a)

In [85]:
print(b)

[1, 2, 3, 4, 6, 6, 6, 8, 9]

In [86]:
x=(4,6,3,6,2,8,1,9,6)

b=tuple(sorted(a))

In [87]:
x.index(6)

1

In [88]:
b

(1, 2, 3, 4, 6, 6, 6, 8, 9)

In [89]:
list(["Jane Doe", 25, 1.75, "Canada"])

['Jane Doe', 25, 1.75, 'Canada']

In [90]:
tuple(x**3 for x in range(10))

(0, 1, 8, 27, 64, 125, 216, 343, 512, 729)

In [91]:
jane = ("Jane Doe", 25, 1.75, "Canada")
len(jane)

4

In [92]:
employee = ("John",35,"Python Developer",("Django", "Flask", "FastAPI", "CSS", "HTML"))

In [93]:
employee[-1][0]

'Django'

In [94]:
employee[-1][1]

'Flask'

In [95]:
squares = tuple(x**2 for x in range(1, 11) if x % 2 == 0)
print(squares)

(4, 16, 36, 64, 100)

In [96]:
# we can't change values in the tuple

In [97]:
def greet(name, age):
    print("Hello, {}! You are {} years old".format(name,age))

greet(age=30, name="Alice")  # The order is reversed, but each argument is explicitly associated with its parameter name

Hello, Alice! You are 30 years old

In [98]:
import time;
ltime = time.localtime();
print(time.strftime("%a %b %d %H %M %S %Z %Y", ltime))

Wed Jun 05 12 46 57 India Standard Time 2024

# Sets

In [99]:
s={}

In [100]:
type(s)

dict

In [101]:
s1={1,2,3,4}
type(s1)    #No duplicates

set

In [102]:
s={34,2,65,78,'red',63,654}
print(s)

{65, 34, 2, 'red', 78, 654, 63}

In [103]:
s

{2, 34, 63, 65, 654, 78, 'red'}

In [104]:
s2={1,2,3,4,4,6,5,5}

In [105]:
s2

{1, 2, 3, 4, 5, 6}

In [106]:
l=list(s2)

In [107]:
t=tuple(s2)

In [108]:
set(l)

{1, 2, 3, 4, 5, 6}

In [109]:
set(t)

{1, 2, 3, 4, 5, 6}

s3={1,2,3,4,[5,6,7]}   
#since the lists are mutable, set does not allow mutable

In [110]:
s3={1,2,3,4,(5,6,7)}
s3      #printed since tuple is immutable

{(5, 6, 7), 1, 2, 3, 4}

In [111]:
s4={'Rahul','rahul'}
s4      #since python is a case sensitive language

{'Rahul', 'rahul'}

In [112]:
#No indexing but can retrieve using for loop
for i in s4:
    print(i)

Rahul
rahul

In [113]:
s4.add(2)
s4

{2, 'Rahul', 'rahul'}

In [114]:
s4.add(2)
s4       #no duplications

{2, 'Rahul', 'rahul'}

In [115]:
len(s4)

3

In [116]:
s2.clear()
s2

set()

In [117]:
s5={5,6,7,8}
s6={5,6,7,9}

print(s6.difference(s5))
print(s5.difference(s6))

{9}
{8}

In [118]:
set1={True,False,1,0}
set1

{False, True}

In [119]:
~768

-769

# Dictionary

In [120]:
d={"name": 'Rahul', 'age': 21, 'email': 'rahul@outlook.com', 'number': 595}

In [121]:
type(d)

dict

In [122]:
d  #dicts only takes tuples as keys, booleans too..

{'name': 'Rahul', 'age': 21, 'email': 'rahul@outlook.com', 'number': 595}

In [123]:
d1={"name": 'Rahul',"name": 'Rahul Routu'}
d1   #key should be unique, in this case we are updating the key..

{'name': 'Rahul Routu'}

In [124]:
d12={"course":['DS','FS','AI',"ML"]}
d12

{'course': ['DS', 'FS', 'AI', 'ML']}

In [125]:
d13={'key':{"name": 'Rahul', 'age': 21, 'email': 'rahul@outlook.com', 'number': 595}}
d13

{'key': {'name': 'Rahul',
  'age': 21,
  'email': 'rahul@outlook.com',
  'number': 595}}

In [126]:
d14={"course":['DS','FS','AI',"ML"],"st date":(28,5,24), 'mentors': ['ram','raj','sam']}
d14

{'course': ['DS', 'FS', 'AI', 'ML'],
 'st date': (28, 5, 24),
 'mentors': ['ram', 'raj', 'sam']}

In [127]:
d14["timing"]=(8,6,24)

In [128]:
d14

{'course': ['DS', 'FS', 'AI', 'ML'],
 'st date': (28, 5, 24),
 'mentors': ['ram', 'raj', 'sam'],
 'timing': (8, 6, 24)}

In [129]:
d14['course']

['DS', 'FS', 'AI', 'ML']

In [130]:
type(d14['st date'])

tuple

In [131]:
d14['name']='Ramesh'

In [132]:
d14

{'course': ['DS', 'FS', 'AI', 'ML'],
 'st date': (28, 5, 24),
 'mentors': ['ram', 'raj', 'sam'],
 'timing': (8, 6, 24),
 'name': 'Ramesh'}

In [133]:
d14['name'].upper()

'RAMESH'

In [134]:
d15={'key':{'name':'Rahul', 'class': 'DSFS'}}

In [135]:
d15

{'key': {'name': 'Rahul', 'class': 'DSFS'}}

In [136]:
type(d15['key'])

dict

In [137]:
d15['key']['class']

'DSFS'

In [138]:
d15['key1']='abc'

In [139]:
d15

{'key': {'name': 'Rahul', 'class': 'DSFS'}, 'key1': 'abc'}

In [140]:
del d15['key1']

In [141]:
d15

{'key': {'name': 'Rahul', 'class': 'DSFS'}}

In [142]:
d15.clear()

In [143]:
d15

{}

In [144]:
del d15

d15   
#since deleted

In [145]:
len(d14)

5

In [146]:
d14.keys()

dict_keys(['course', 'st date', 'mentors', 'timing', 'name'])

In [147]:
d14.values()

dict_values([['DS', 'FS', 'AI', 'ML'], (28, 5, 24), ['ram', 'raj', 'sam'], (8, 6, 24), 'Ramesh'])

In [148]:
list(d14.values())

[['DS', 'FS', 'AI', 'ML'],
 (28, 5, 24),
 ['ram', 'raj', 'sam'],
 (8, 6, 24),
 'Ramesh']

In [149]:
list(d14.keys())

['course', 'st date', 'mentors', 'timing', 'name']

In [150]:
d14.items()

dict_items([('course', ['DS', 'FS', 'AI', 'ML']), ('st date', (28, 5, 24)), ('mentors', ['ram', 'raj', 'sam']), ('timing', (8, 6, 24)), ('name', 'Ramesh')])

In [151]:
list(d14.items())

[('course', ['DS', 'FS', 'AI', 'ML']),
 ('st date', (28, 5, 24)),
 ('mentors', ['ram', 'raj', 'sam']),
 ('timing', (8, 6, 24)),
 ('name', 'Ramesh')]

In [152]:
d16=d14.copy()  #Deep copy, d16-changes does not effect the d14
d16

{'course': ['DS', 'FS', 'AI', 'ML'],
 'st date': (28, 5, 24),
 'mentors': ['ram', 'raj', 'sam'],
 'timing': (8, 6, 24),
 'name': 'Ramesh'}

In [153]:
d17=d14    #shallow copy, d17 changes will effect as d17 acts as a reference
d17

{'course': ['DS', 'FS', 'AI', 'ML'],
 'st date': (28, 5, 24),
 'mentors': ['ram', 'raj', 'sam'],
 'timing': (8, 6, 24),
 'name': 'Ramesh'}

In [154]:
d17.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [155]:
d18={'key1':'value1','key2':'value2'}
d19={'key3':'value3','key4':'value4'}

In [156]:
(d18,d19)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [157]:
d18.update(d19)
d18

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [158]:
d19

{'key3': 'value3', 'key4': 'value4'}

In [159]:
print(d18.get('key1'))    #get fn. does not return any error
#or
print(d18['key1'])

value1
value1

Dictionary Comprehension

List Comprehension: [expression for item in iterable if condition]

Tuple Comprehension: tuple(expression for item in iterable if condition)

Dictionary Comprehension: {key_expression: value_expression for item in iterable if condition}

In [160]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [161]:
{i:i**2for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [162]:
import math
d20={i: math.log(i) for i in range(1,10)}
d20

{1: 0.0,
 2: 0.6931471805599453,
 3: 1.0986122886681098,
 4: 1.3862943611198906,
 5: 1.6094379124341003,
 6: 1.791759469228055,
 7: 1.9459101490553132,
 8: 2.0794415416798357,
 9: 2.1972245773362196}

In [163]:
1 in d20  #checking the key is present in the dictionary

True

In [164]:
d20.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [165]:
for i in d20.keys():
    if i%2==0:
        print(i)

2
4
6
8

In [166]:
for i in d20.keys():
    if i%2==0:
        print(i,":",d20[i])

2 : 0.6931471805599453
4 : 1.3862943611198906
6 : 1.791759469228055
8 : 2.0794415416798357

# Strings

In [167]:
30 >> 2

7

In [168]:
bin(30)     #111'10'(since 2 places should be shifted)

'0b11110'

In [169]:
bin(2)

'0b10'

In [170]:
bin(7)

'0b111'

In [171]:
0*0

0

In [172]:
(not(True)) * False

0

In [173]:
True * False

0

In [174]:
string="My DataScience Skills"

In [175]:
string.find("z")   #substring is not found

-1

In [176]:
string[::-1]

'sllikS ecneicSataD yM'

In [177]:
string

'My DataScience Skills'

In [178]:
len(string)

21

In [179]:
string.title()

'My Datascience Skills'

In [180]:
string.find('D',1,10)

3

In [181]:
string.count('S')

2

In [182]:
string.count('')   #counts every string

22

In [183]:
string.count(' ')

2

In [184]:
string.split(' ')

['My', 'DataScience', 'Skills']

In [185]:
name='Rahul'
name.count('')  #it takes an empty string

6

In [186]:
string.partition('S')

('My Data', 'S', 'cience Skills')

In [187]:
string.swapcase()

'mY dATAsCIENCE sKILLS'

In [188]:
string[::-1]

'sllikS ecneicSataD yM'

In [189]:
''.join(reversed(string))

'sllikS ecneicSataD yM'

In [190]:
" ".join('abcd')

'a b c d'

In [191]:
list(reversed(string))

['s',
 'l',
 'l',
 'i',
 'k',
 'S',
 ' ',
 'e',
 'c',
 'n',
 'e',
 'i',
 'c',
 'S',
 'a',
 't',
 'a',
 'D',
 ' ',
 'y',
 'M']

In [192]:
for i in reversed(string):
    print(i, end='')

sllikS ecneicSataD yM

In [193]:
string1='  west side  '
string1.strip()

'west side'

In [194]:
string1='  west side  '
string1.rstrip()

'  west side'

In [195]:
string1.replace('side','direction')

'  west direction  '

In [196]:
mail='rahul@routhu@gmail.com'
mr=mail.replace("@"," ")

print(mail)
print(mr)

rahul@routhu@gmail.com
rahul routhu gmail.com

In [197]:
mr

'rahul routhu gmail.com'

In [198]:
string.expandtabs()

'My DataScience Skills'

In [199]:
def check_whitespace(s):
    if s.isspace():
        return "String contains only whitespace characters."
    else:
        return "String contains non-whitespace characters."

print(check_whitespace(" "))  # Output: String contains only whitespace characters.
print(check_whitespace(" Hello World "))  # Output: String contains non-whitespace characters.

String contains only whitespace characters.
String contains non-whitespace characters.

In [200]:
for i in range(len(string1)):
    print(string1[i])

w
e
s
t

s
i
d
e

In [201]:
for i in range(len(mail)-1,-1,-1):
    print(mail[i],end='')

moc.liamg@uhtuor@luhar

In [202]:
mail.count("")

23

In [203]:
l=len(mail)-1

In [204]:
l

21

In [205]:
mail[21],mail[20]

('m', 'o')

In [206]:
while l>0:
    print(mail[l], end='')
    l=l-1

moc.liamg@uhtuor@luha

In [207]:
for i in range(len(mail)):
    print(mail[len(mail)-(i+1)], end='')

moc.liamg@uhtuor@luhar

In [208]:
para='covolcanoconiosis'
vowels='AaEeIiOoUu'

In [209]:
for i in para:
    if i in vowels:
        print("The {} is a vowel".format(i))
    else:
        print("The {} is not vowel".format(i))

The c is not vowel
The o is a vowel
The v is not vowel
The o is a vowel
The l is not vowel
The c is not vowel
The a is a vowel
The n is not vowel
The o is a vowel
The c is not vowel
The o is a vowel
The n is not vowel
The i is a vowel
The o is a vowel
The s is not vowel
The i is a vowel
The s is not vowel

# Functions

In [210]:
print("This is a program")

This is a program

In [211]:
len('string')

6

In [212]:
a='String'

In [213]:
a.count('')

7

In [214]:
def test():
    print("This is a Function")  
    
test()

This is a Function

test()+'type'    #print fn returns a none-type

In [215]:
def test1():
    return "This is a fn in return"

test1()

'This is a fn in return'

In [216]:
test1() + "function"     #returns a type

'This is a fn in returnfunction'

In [217]:
def test2():
    return 1,2,3,'question','answer'

test2()

(1, 2, 3, 'question', 'answer')

In [218]:
print(test2()[0])
print(test2()[1])
print(test2()[2])
print(test2()[3])
print(test2()[4])

1
2
3
question
answer

In [219]:
for i in test2():
    print(i,':',type(i))

1 : <class 'int'>
2 : <class 'int'>
3 : <class 'int'>
question : <class 'str'>
answer : <class 'str'>

In [220]:
a,b,c,d,e=test2()

In [221]:
a,b,c,d,e

(1, 2, 3, 'question', 'answer')

In [222]:
def test3():
    a=8*56+34
    return a

test3()

482

In [223]:
type(a)

int

In [224]:
type(test3())

int

In [225]:
def test4(a,b):
    c=a+b
    return c

In [226]:
test4(3,4)

7

In [227]:
test4('rahul_','routh30')

'rahul_routh30'

In [228]:
test4([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [229]:
test4((1,2,3),(4,5))

(1, 2, 3, 4, 5)

In [230]:
a=[1,7,'sam',4,"ram",55]

In [231]:
def test6(a):
    for i in a:
        if type(i)==int:
            print(i,end=',')

In [232]:
test6(a)

1,7,4,55,

In [233]:
def test6(a):
    n=[]
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

In [234]:
test6(a)

[1, 7, 4, 55]

In [235]:
def describe_pet(animal, name):
    print(f"I have a {animal} named {name}.")

describe_pet(animal='pet',name='Joy')

I have a pet named Joy.

# *args & **Kwargs

*args=no of args we can pass wrt. to the position (*-represents n-number)
**kwargs=no of args we can pass in the form of dict irrespective of position (**-n, key)
Both *args & **kwargs can be with any name eg: *x, **y

In [236]:
def test7(*args,**y):
    return args,y

In [237]:
test7(1,2,2,3,3,4,y='name',z='age')

((1, 2, 2, 3, 3, 4), {'y': 'name', 'z': 'age'})

In [238]:
def test8(*args):
    return args

In [239]:
test8(1,2,33,4,65,9,6,4,34)

(1, 2, 33, 4, 65, 9, 6, 4, 34)

In [240]:
def test9(**kargs):
    return kargs

In [241]:
test9(a='name',b=(7,8,9),c=[1,2,4],d={1,23})

{'a': 'name', 'b': (7, 8, 9), 'c': [1, 2, 4], 'd': {1, 23}}

In [242]:
def train(*args):
    lists=[]
    for i in args:
        if type(i)==list:
            lists.append(i)
        
    return lists

In [243]:
train([1,2],3,4,5,6,'ram',[9,5,3,2])

[[1, 2], [9, 5, 3, 2]]

In [244]:
def train1(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i, kwargs[i]

In [245]:
train1(a=34,b=23,c=[1,2,3,4], d=('ram','sam'),e=[7,8,9])

('c', [1, 2, 3, 4])

In [246]:
def train1(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            print(i, kwargs[i])

In [247]:
train1(a=34,b=23,c=[1,2,3,4], d=('ram','sam'),e=[7,8,9])

c [1, 2, 3, 4]
e [7, 8, 9]

In [248]:
def train2(*args, **kwargs):
    return args, kwargs

In [249]:
train2(1,9,'Cat', a='Data',b='Science')

((1, 9, 'Cat'), {'a': 'Data', 'b': 'Science'})

# Generators

In [250]:
l=[7,4,6,2,8,7,9,'dae','pat',5,0]

In [251]:
def gen(l):
    n=[]
    for i in l:
        if type(i)==int:
            n.append(i)
    return n

In [252]:
gen(l)

[7, 4, 6, 2, 8, 7, 9, 5, 0]

In [253]:
def fib(n):
    a,b=0,1
    for i in range(n):
        yield a 
        a,b = b,a+b

In [254]:
fib(10)

In [255]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [256]:
def fibonacci(n):
    fib_series = []
    a, b = 0, 1
    while len(fib_series) < n:   #or for i in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Lambda fn's

In [257]:
def power(n,p):
    return n**p

In [258]:
power(3,2)

9

In [259]:
a=lambda n,p:pow(n,p)

In [260]:
a(3,2)

9

In [261]:
add=lambda x,y:x+y

In [262]:
add(200,75)

275

In [263]:
c_to_f=lambda c: (9/5)*c+32

In [264]:
c_to_f(32)

89.6

In [265]:
max_num=lambda x,y: x if x>y else y

In [266]:
max_num(14,10)

14

In [267]:
max_nums = lambda x, y: (print('x is bigger:') or x) if x > y else (print('y is bigger:') or y)

In [268]:
max_nums(3,8)

y is bigger:

8

In [269]:
strs='wertyuiklkjhgfds'
len_len=lambda strs:len(strs)

In [270]:
len_len(strs)

16

# Map, Reduce & Filter fn's

In [271]:
sqq=[1,2,3,4,5]

def sq(sqq):
    sqs=[]
    for i in sqq:
        sqs.append(i**2)
    return sqs

In [272]:
sq(sqq)

[1, 4, 9, 16, 25]

In [273]:
def sq(x):
    return pow(x,2)

In [274]:
map(sq,sqq)

In [275]:
list(map(sq,sqq))

[1, 4, 9, 16, 25]

In [276]:
list(map(lambda x:pow(x,2),sqq))

[1, 4, 9, 16, 25]

In [277]:
list(map(lambda x:x+10,sqq))

[11, 12, 13, 14, 15]

In [278]:
list(map(lambda x:str(x),sqq))

['1', '2', '3', '4', '5']

In [279]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
l3=[11,12,13,14,15]

In [280]:
list(map(lambda x,y,z:x+y+z,l1,l3,l2))

[18, 21, 24, 27, 30]

In [281]:
s='qwertyuiop'

list(map(lambda x: x.upper(),s))

['Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P']

In [282]:
from functools import reduce

In [283]:
l=[1,2,3,4,5,4]
reduce(lambda x,y:x+y,l)

19

In [284]:
def red(x,y):
    return x+y  #reduce collapse if we have 3 pairs like x,y,z

In [285]:
reduce(red,l)

19

In [286]:
reduce(lambda x,y:x+y,[1])

1

In [287]:
from functools import reduce

result = reduce(lambda x, y: x + y, [1], 10)
print(result)

11

In [288]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Map example: double each number
doubled = map(lambda x: x * 2, numbers)
print(list(doubled))  # Output: [2, 4, 6, 8, 10]

# Filter example: get only even numbers
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))  # Output: [2, 4]

# Reduce example: sum all numbers
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print(sum_of_numbers)  # Output: 15

[2, 4, 6, 8, 10]
[2, 4]
15

In [289]:
reduce(lambda x,y:x if x>y else y,l)

5

In [290]:
list(filter(lambda x:x%2 ==0,l))

[2, 4, 4]

In [291]:
l

[1, 2, 3, 4, 5, 4]

In [292]:
list(filter(lambda x:x%2!=0,l))

[1, 3, 5]

In [293]:
l1=[-2,4,5,6,-3,-6,7]

In [294]:
list(filter(lambda x:x>0,l1))

[4, 5, 6, 7]

In [295]:
list(filter(lambda x:x<0,l1))

[-2, -3, -6]

In [296]:
x2=['sam','ertyg','qwerty','oijsvdft','fdg','tsrtyu']

In [297]:
list(filter(lambda x: len(x) <= 6, x2))

['sam', 'ertyg', 'qwerty', 'fdg', 'tsrtyu']

# OOPs

In [298]:
a=1

In [299]:
print(type('a'))

<class 'str'>

In [300]:
print(type('tre'))

<class 'str'>

In [301]:
class test:
    pass

In [302]:
a=test()

In [303]:
print(type(a))

<class '__main__.test'>

In [304]:
class pwskills:
    
    def welcome_msg(self):
        print('Hi Welcome!')

In [305]:
rohan=pwskills()

In [306]:
rohan.welcome_msg()

Hi Welcome!

In [307]:
sohan=pwskills()

In [308]:
sohan.welcome_msg()

Hi Welcome!

In [309]:
a,b=1,2

In [310]:
[a,b]

[1, 2]

In [311]:
class pwskills1:
    
    def __init__(self,s_id,s_name,s_phn,s_email):
        
        self.s_id=s_id
        self.s_name=s_name
        self.s_phn=s_phn
        self.s_email=s_email
        
        
    def return_student_details(self):
        return self.s_id,self.s_name,self.s_phn,self.s_email

In [312]:
rohan=pwskills1(1,'Rohan',123456789,'rohan@gmail.com')

In [313]:
rohan.s_id  #Here s_id maps to self.rohan

1

In [314]:
rohan.s_name

'Rohan'

In [315]:
rohan.s_phn

123456789

In [316]:
rohan.s_email

'rohan@gmail.com'

In [317]:
sohan=pwskills1(2,'Sohan',1234,'sohan@gmail.com')

In [318]:
sohan.s_name

'Sohan'

In [319]:
class pwskills2:
    def stud_details(self,name,mail, number):
        print(name,mail,number)

In [320]:
pw=pwskills2()

In [321]:
pw.stud_details('Ram','ram@mail.com',595)

Ram ram@mail.com 595

Static Method:

In [322]:
class static:
    @staticmethod
    def mentor_class(list_mentor):
        print(list_mentor)
        
    def mentor(self, mentor_list):
        print(mentor_list)

In [323]:
pw1=static()

In [324]:
pw1.mentor(['rahul','routh',3456])

['rahul', 'routh', 3456]

In [325]:
pw1.mentor_class(['wertyui','wertyu'])

['wertyui', 'wertyu']

# Inheritance

In [326]:
class parent:
    
    def test_parent(self):
        print('This is an Inheritance program')

In [327]:
class child(parent):
    pass

In [328]:
child_obj=child()

In [329]:
child_obj.test_parent()

This is an Inheritance program

In [330]:
class class1:
    
    def test_class1(self):
        print("This is my class1")

In [331]:
class class2(class1):
    
    def test_class2(self):
        print("This is my class2")

In [332]:
class class3(class2):
    
    def test_class3(self):
        print("This is my class3")

In [333]:
obj_class3=class3()

In [334]:
obj_class3.test_class1()

This is my class1

In [335]:
 obj_class3.test_class2()

This is my class2

In [336]:
class class1:
    def test_class1(self):
        print('This is my class1')

In [337]:
class class2:
    def test_class2(self):
        print('This is my class2')

In [338]:
class class3(class1,class2):
    pass

In [339]:
obj_class3=class3()

In [340]:
obj_class3.test_class1()

This is my class1

In [341]:
a=[1,2,3,4,5]
b=[1,4,5,7,9]

In [342]:
def common():
    
    for i in a:
        for j in b:
            if i==j:
                print(i)

In [343]:
common()

1
4
5

In [344]:
def print_non_common_elements(a, b):
    set_a = set(a)
    set_b = set(b)
    
    non_common_a = set_a - set_b  # Elements in a but not in b
    non_common_b = set_b - set_a  # Elements in b but not in a
        
    non_common_elements = list(non_common_a) + list(non_common_b)
    
    print("Non-common elements:", non_common_elements)

# Example usage
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

print_non_common_elements(a, b)

Non-common elements: [1, 2, 3, 8, 6, 7]

# Files

In [345]:
f=open('file.txt','w')

In [346]:
%pwd

'C:\\Users\\DELL\\Python practise'

In [347]:
ls

 Volume in drive C is OS
 Volume Serial Number is B2B3-324E

 Directory of C:\Users\DELL\Python practise

05-06-2024  12:45    <DIR>          .
24-05-2024  12:17    <DIR>          ..
29-05-2024  15:13    <DIR>          .ipynb_checkpoints
05-06-2024  12:46        11,894,789 .log
19-04-2024  15:05             2,386 50_Startups.csv
22-03-2024  10:08           194,323 Classified Data.txt
15-03-2024  15:37           137,541 customers.json
29-05-2024  10:02           134,464 Deep Learning.ipynb
23-05-2024  12:44           623,217 EDA.ipynb
03-06-2024  16:55           177,472 Feature Eng.ipynb
05-06-2024  12:47                 0 file.txt
24-05-2024  11:58         3,663,305 House Price Prediction 2.ipynb
21-05-2024  17:08         2,245,081 House Price Prediction.ipynb
10-04-2024  09:19           451,405 Houseprice_test.csv
10-04-2024  09:18           460,676 Houseprice_train.csv
14-03-2024  11:38             3,857 IRIS.csv
24-05-2024  12:12           956,895 logs.log
27-03-2024  16:45           230,298 Matplotlib.ipynb
12-02-2024  17:13         3,220,873 Mercedesbenz.csv
29-05-2024  14:31         7,865,132 ML Algorithms.ipynb
29-05-2024  17:15           332,796 Np & Pd.ipynb
24-05-2024  14:28         6,497,245 Plotly.ipynb
05-06-2024  12:45           120,494 Python 2.ipynb
03-06-2024  12:21           139,535 Python.ipynb
24-05-2024  12:13           495,568 Seaborn.ipynb
24-05-2024  10:08         1,100,307 test.xlsx
29-05-2024  17:14               102 Test1.csv
14-02-2024  17:16            60,302 titanic_train.csv
24-05-2024  10:08         2,785,633 train.xlsx
29-04-2024  14:36        47,540,750 uber-raw-data-sep14.csv
23-05-2024  10:48           697,382 Usable functions.ipynb
21-05-2024  15:32         5,157,146 Usecases.ipynb
29-02-2024  15:28            11,089 wine-clustering.csv
23-05-2024  17:33           450,075 X_train.csv
              31 File(s)     97,650,138 bytes
               3 Dir(s)  306,567,012,352 bytes free

In [348]:
f.write('This is a file program')

22

In [349]:
f.close()

In [350]:
data=open('file.txt',"r")

In [351]:
data.read()

'This is a file program'

In [352]:
data.seek(0)

0

In [353]:
data.read()

'This is a file program'

In [26]:
import calendar

def print_calendar(year, month):
    # Create a plain text calendar
    cal = calendar.TextCalendar(calendar.SUNDAY)
    # Format the month into a string
    month_str = cal.formatmonth(year, month)

    # Print the formatted month string
    print(month_str)

# Example usage
year = 2024
month = 6
print_calendar(year, month)

     June 2024
Su Mo Tu We Th Fr Sa
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

# Exception Handling

In [356]:
try:
    a=1
    b='s'
    c=a+b
except TypeError: 
    print('The datatypes of variables are different')
except Exception as e:
    print(e)

The datatypes of variables are different

In [362]:
f=open("text.txt",'r')
print("This is my print")

FileNotFoundError: [Errno 2] No such file or directory: 'text.txt'

In [370]:
try:
    f=open("text.txt",'r')
except Exception as ex:
    print("There is some issue in my code:\t", ex)

There is some issue in my code:	 [Errno 2] No such file or directory: 'text.txt'

In [372]:
try:
    f=open("text.txt",'r')
except Exception as ex:
    print("There is some issue in my code:\t", ex)
print("This is my print statement")
a=10
a

There is some issue in my code:	 [Errno 2] No such file or directory: 'text.txt'
This is my print statement

10

In [388]:
try: 
    a=int(input('Enter a:'))
    b=int(input('Enter b:'))
    c=a/b
    d=a*b
    e=a+b
    
except TypeError:
    print('Try to make Datatype similar')
except ZeroDivisionError:
    print('The number should be greater than 0')
except Exception as ex:
    print(ex)
    
else:
    print(c)
    print(d)
    print(e)

finally:
    print('The Execution is Done')

Enter a:67
Enter b:'strr'
invalid literal for int() with base 10: "'strr'"
The Execution is Done

In [390]:
class validateage(Exception):
    def __init__(self,msg):
        self.msg=msg

In [391]:
def validate_age(age):
    if age<0:
        raise validateage('age should be greater than zero-0')
    elif age>100:
        raise validateage('age is too high')
        
    else:
        print("age is valid")

In [392]:
try:
    age=int(input('Enter age:'))
    validate_age(age)
except validateage as e:
    print(e)

Enter age:345
age is too high

In [2]:
try:
    a=10
    a/0
except ZeroDivisionError as ex:
    print(ex)

division by zero

In [3]:
try:
    int('Rahul')
except (ValueError, TypeError) as e:
    print("This is an error")

This is an error

In [4]:
try:
    import sd
except ImportError as ex:
    print(ex)

No module named 'sd'

In [11]:
try:
    d={1:[3,4,5,6], 'key':'Sudhir'}
    d["key10"]
except KeyError as e:
    print(e)

'key10'

In [13]:
try:
    'sudh'.test()
except AttributeError as e:
    print(e)

'str' object has no attribute 'test'

In [14]:
try:
    l=[1,2,3,4]
    l[10]
except IndexError as e:
    print(e)

list index out of range

In [15]:
try:
    124+'Str'
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

Practising of Exception Handling

In [16]:
#use always a specific exception
try:
    10/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [18]:
#print always a valid msg
try:
    10/0
except ZeroDivisionError as e:
    print("This is a zero division error I'm handling: ",e)

This is a zero division error I'm handling:  division by zero

In [22]:
#always try to log
import logging
logging.basicConfig(filename='error.log', level=logging.ERROR)
try:
    10/0
except ZeroDivisionError as e:
    logging.error("This is my zero division error i'm handling {}".format(e))

2024-06-06 10:13:40,362 [18108] ERROR    root:7: [JupyterRequire] This is my zero division error i'm handling division by zero

In [21]:
#Always avoid to write a multiple exception handling
try:
    10/0
except FileNotFoundError as e:
    logging.error("This is my not found file {}".format(e))
except AttributeError as e:
    logging.error("This is my not found file {}".format(e))
except ZeroDivisionError as e:
    logging.error("This is my zero division error i'm handling {}".format(e))

2024-06-06 10:13:23,828 [18108] ERROR    root:9: [JupyterRequire] This is my zero division error i'm handling division by zero

In [23]:
#prepare a proper documentation
#cleanup all the resources b4 at that particular location